body {
    margin: 0;
    font-family: monospace;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    gap: 25px;
    font-size: 18px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.content {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    gap: 13px;
    padding: 48px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.text {
    font-size: 18px;
}

.shade {
    color: #e5e7eb;
}

.signUp {
    max-width: 40%;
}

button {
    border-radius: 6px;
    padding: 5px 16px;
    background: #3882f6;
    color: #e5e7eb;
    border-width: 0;
}

.quotes {
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 46px;
}

#inspo {
    max-width: 50%;
    font-size: 36px;
    font-style: italic;
}

#author {
    font-weight: bold;
}

.info {
    flex-direction: row;
    padding: 46px;
}

.boxes {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin: 46px;
}

.box {
    max-width: 25%;
}

.pic {
    border-width: 1px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 6px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 46px;
}

.bluebox {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 6px;
    width: 60%;
    align-items: center;
    padding: 13px;
}

#actbutton {
    border-width: 2px;
    border-style: solid;
    border-color: #e5e7eb;
}

#note1 {
    margin-bottom: 0;
    font-size: 16px;
}

#note2 {
    margin-top: 0;
    font-size: 16px;
}
.footer {
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
}